@import 'tailwindcss';

:root {
	--background: #232829;
	--background-timer: #1d5b43;
	--color-yellow: #fdb056;
	--color-yellow-two: #ffbb00;
	--danger-color: #ff4e4e;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
	color: #fff;
}
