@import 'tailwindcss';

:root {
	--background: #232829;
	--background-timer: #1d5b43;
	--color-yellow: #fdb056;
	--color-yellow-two: #ffbb00;
	--danger-color: #ff4e4e;
	--color-red: #fd5656;
	--color-border: #484d4e;
	--background-price: #313637;
}
